*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar li a:hover{
    background-color: #2c2c2c;
    color: #e50914;
}
li:last-child {
    border-right: none;
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.imagen{
    width: 40%;
    margin:10px auto;
}
.descripcion-school{
    font-size: 20px;
    margin: 5px 300px;
}
.contenedor{
    margin: 20px auto;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .7);
    border-radius: 20px;
}
.contenedor h2{
    margin-bottom: 15px;
    padding: 0;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento label{
    font-size: 15px;
    color: #fff;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 01px solid #fff;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento select{
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    padding: 5px 0;
    margin-bottom: 30px;
    background-color: rgba(0,0,0, .3); 
}
.contenedor .elemento select option {
    background-color: rgba(0,0,0, .7); 
}
.contenedor .elemento input[type="submit"]{
    background-color: #e50914;
    border:none;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .error{
    background-color: rgb(230, 10, 21,.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.contenedor .succesful{
    background-color: rgba(10, 230, 113, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.bienvenido{
    margin: 10px auto;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.bienvenido-dos{
    margin: 10px auto;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.message_user{
    margin: 10px auto;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.noData-user{
    margin: 10px auto;
    font-size: 25px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.table-crud{
    margin: 10px auto;
}
.table-crud table{
    font-size: 20px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
    border: solid 2px #000000;
    border-collapse: collapse;
}
.table-crud thead{
    background: rgba(0, 0, 0, 0.7);
}
.table-crud th{
    padding: 20px;
    color: #fff;
}
.table-crud td{
    padding: 10px;
    border-bottom: solid 2px #000000;
}
.background-pagos{
    background-image: url("../img/pagos10.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-home{
    background-image: url("../img/escuela10.png");
    background-repeat: no-repeat;
    background-size: cover;
}